*
!*.yaml
!scenes
!controls
!controls
!controls/lights
!controls/lights/lifx
!controls/lights/zwave
!controls/lights/hue
!controls/bridges
!controls/media_players
!controls/media_players/samsungtv
!controls/media_players/kodi
!controls/media_players/kodi/cast
!controls/media_players/cast
!controls/switches
!controls/switches/basement
!controls/switches/kitchen
!automations
!scripts
!.gitignore
secrets.yaml
known_devices.yaml
zones
customize.yaml
cameras.yaml
device_tracker.yaml
